h1,
h2,
h3,
h4,
div {
  font-family: "Roboto", sans-serif;
  /* color: #303742; */
}

/* a {
  color: #303742 !important;
} */

h2 {
  font-size: 2em;
  font-weight: bold;
}
h3 {
  font-size: 1.5em;
  color: #aaa;
}

.date {
  color: #ccc;
}

/* .btn.btn-primary {
  background: #303742;
  border-color: #333;
  color: #fff;
} */

/* .btn {
  border: 0.05rem solid #303742;
  color: #303742;
} */

.header-bar {
  margin-bottom: 1.4rem;
  display: inline-block;
  width: 100%;
}

.text {
  font-family: "PT Serif", serif;
  font-size: 1.1em;
  margin: 1.1em 0;
  color: #303742;
}

.article-preview {
  padding-top: 30px;
  padding-bottom: 35px;
}

.sidebar-section {
  margin-bottom: 70px;
}

.sidebar-container {
  padding: 1em;
  background-color: #303742;
  color: #fff;
}

.article-container {
  margin-top: 2em;
}

:root {
  --primary-color: #2967af;
  --dark-color: #395d6b;
}

.article-preview img,
.article-content img {
  max-width: 90%;
  margin: 1em;
}

.sidebar-section a {
  color: #5f89b9;
}

.sidebar-section a:hover {
  color: #73a5df;
}
